.resTitle{
    margin-left: 140px;
    margin-top: 30px;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
    column-gap: 20px;
}
.blockMyPizza {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 233px;
    height: 96px;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.26);
    box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.26);
    border-radius: 15px;
    background-color: rgb(144, 141, 141);
}
.blockMyPizza img{
    height: 60%;
    background: none;
}
.blockKfc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 233px;
    height: 96px;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.26);
    box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.26);
    border-radius: 15px;
    background-color: rgb(29, 29, 29);
}
.blockKfc img{
    height: 60%;
    background: none;
}
.blockNavat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 233px;
    height: 96px;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.26);
    box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.26);
    border-radius: 15px;
    background-color: rgb(29, 57, 29);
}
.blockNavat img{
    height: 60%;
    background: none;
}
.blockKulikov {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 233px;
    height: 96px;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.26);
    box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.26);
    border-radius: 15px;
    background-color: rgb(110, 13, 83);
}
.blockKulikov img{
    height: 40%;
    background: none;
}
.blockPapajonhs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 233px;
    height: 96px;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.26);
    box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.26);
    border-radius: 15px;
    background-color: rgb(56, 115, 56);
}
.blockPapajonhs img{
    height: 34%;
    background: none;
}