.header {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 20px rgba(117, 115, 111, 0.2);
  position: fixed;
  top: 0;
  z-index: 100;
  transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out, transform 0.8s ease-out, opacity 0.8s ease-out;
  

  transform: translateY(-100%);
  opacity: 0;
}


.header.loaded {
  transform: translateY(0);
  opacity: 1;
}


.header.atTop {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
}

.header_content {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header.loaded .header_content {
  background-color: transparent;
  transition: opacity 1s ease-in-out;
}

.header.atTop .header_content {
  background-color: transparent;
}

.leftBlock {
  display: flex;
  align-items: center;
}
.header.loaded .header_content .leftBlock{
  background-color: transparent;
  transition: opacity 1s ease-in-out;
}

.logoContainer {
  display: flex;
  align-items: center;
}
.header.loaded .header_content .leftBlock .logoContainer{
  background-color: transparent;
  transition: opacity 1s ease-in-out;
}

.Logo {
  width: 55px;
}

.logoTitle {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  transition: opacity 0.5s ease-in-out;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.searchInput {
  width: 382px;
  padding-left: 58px;
  border: 1px solid #ccc;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 48px;
  border: 2px solid #fc8e34;
  background-image: url('/images/search.svg');
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: center;
  font-size: 16px;
}

.searchButton {
  color: white;
  width: 102px;
  height: 48px;
  background: #fc8e34;
  border: 2px solid #fc8e34;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  font-size: 14.5px;
  font-weight: 600;
  color: white;
  transition: background-color 0.3s ease-in-out;
}
.header.loaded .header_content .leftBlock .searchContainer{
  background-color: transparent;
  transition: opacity 1s ease-in-out;
}
.header.loaded .header_content .leftBlock .logoContainer .logoTitle{
  background-color: transparent;
  transition: opacity 1s ease-in-out;
}


.searchButton:hover {
  background-color: #eb812a;
}

.searchButton:active {
  background-color: #fc8e34;
}

.rightBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header.loaded .header_content .rightBlock{
  background-color: transparent;
  transition: opacity 1s ease-in-out;
}

.icon {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease-in-out;
}

.icon:hover {
  transform: scale(1.1);
}
.searchInput:focus {
  box-shadow: 0 0 10px rgba(252, 142, 52, 0.5);
  outline: none;
}
.loginBtn {
  width: 92px;
  height: 48px;
  border-radius: 16px;
  border: none;
  background-color: #5C5A571A;
  text-decoration: none;
  font-family: YSText, sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #21201F;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.loginBtn:hover {
  background-color: #3b37351a;
}

.loginBtn:active {
  transform: scale(0.95);
}
.header.loaded .header_content .rightBlock .profileContainer{
  background-color: transparent;
  transition: opacity 1s ease-in-out;
}
.header.loaded .header_content .rightBlock .profileContainer .profileLink{
  background-color: transparent;
  transition: opacity 1s ease-in-out;
}
.header.loaded .header_content .rightBlock .cartLink{
  background-color: transparent;
  transition: opacity 1s ease-in-out;
}
.header.loaded .header_content .rightBlock .LinkLogin{
  background-color: transparent;
  transition: opacity 1s ease-in-out;
}
