header {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 100;

}
.mapButton{
  height: 48px;
  width: 220px;
  border-radius: 20px;
}

.header_content {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftBlock {
  display: flex;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.logoTitle {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.searchInput {
  width: 382px;
  padding-left: 58px;
  border: 1px solid #ccc;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 48px;
  border: 2px solid #fc8e34;
  background-image: url('/images/search.svg');
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: center;
  font-size: 16px;

}

.searchButton {
  width: 102px;
  height: 48px;
  background: #fc8e34;
  border: 2px solid #fc8e34;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  font-size: 14.5px;
  font-weight: 600;

}

.rightBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icon {
  width: 28px;
  height: 28px;
}

.profileLink,
.cartLink {
  display: inline-block;
  color: #333;
  text-decoration: none;
}