footer{
  width: 100%;
  height: 574px;
  background-color: #212121;
}
.container{
  padding-top: 80px;
  max-width: 1240px;
  margin: auto;
  height: 281px;
}
.block{
  display: flex;
  justify-content: space-between;
}
.container h1{
  font-style: italic;
  color: white;
}

.block p{
  color: #9E9E9E;
}

.block__wrapper {
  display: flex;
}
.line{
  border-top: 1px solid #424242;
  padding-bottom: 20px;
}

.block__inside{
  display: flex;
  column-gap: 80px;
}

.block__inside h3 {
  color: white;
  font-size: 16px;
}

.block__inside li{
  color: #F5F5F5;
  font-weight: 100;
  padding-bottom: 10px;
}

.reserve {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: auto;
  color: #F5F5F5;
  padding-top: 230px;
}