.icon {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease-in-out;
  background: none;
}

.icon:hover {
  transform: scale(1.1);
}
.searchInput:focus {
  box-shadow: 0 0 10px rgba(252, 142, 52, 0.5);
  outline: none;
}
.loginBtn {
  width: 92px;
  height: 48px;
  border-radius: 16px;
  border: none;
  background-color: #5C5A571A;
  text-decoration: none;
  font-family: YSText, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #21201F;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.loginBtn:hover {
  background-color: #3b37351a;
}

.loginBtn:active {
  transform: scale(0.95);
}
.iconbtn{
  background: none;
  border: none;
}
.nav{
  width: 100%;
  height: 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  transition: background-color 0.2s ease;
  margin-bottom: 18px;
  font-size: 16.2px;
}
.nav:hover{
  background-color: #ebe9e8;
}
.nav p{
  display: flex;
  align-items: center;
}
.iconLocation{
  width: 30px;
  filter: brightness(0);
  padding-right: 6px;
}
.iconSave{
  width: 30px;
  background: transparent;
  filter: brightness(100%);
  padding-right: 6px;
}
.iconOrders{
  width: 38px;
  background: transparent;
  padding-right: 2px;
}
.iconLogout{
  width: 30px;
  padding-right: 4px;
}