
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px); 
    z-index: 1000; 
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1; 
    transition: opacity 0.3s ease-out;
}

.overlayClosing {
    opacity: 0; 
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: transparent; 
    position: relative;
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.wrapperClosing {
    opacity: 0; 
}

 
.modalContainer {
    width: 90%;
    max-width: 500px;
    z-index: 1001;
    opacity: 0;
    transform: translateY(50%);
    animation: slideUp 0.5s forwards; 
    transition: opacity 0.3s ease-out; 
}
.modalClosing {
    opacity: 0;
    transform: translateY(50%); 
}
@keyframes slideUp {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}




.panel {
    background: white;
    border-radius: 12px 12px 0 0; 
    padding: 20px;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}


.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 300px;
    border-radius: 8px;
}


.description {
    font-size: 1rem;
    color: #666;
    margin-top: 10px;
    height: 100px;
    overflow: auto;
}


.price {
    font-size: 1.25rem;
    color: #e4002b;
    margin-top: 10px;
    font-weight: bold;
}


.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.close,
.addToCart {
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.close {
    background: #ddd;
    color: #333;
}

.close:hover {
    background: #ccc;
}

.addToCart {
    background: #e4002b;
    color: white;
}

.addToCart:hover {
    background: #c40023;
}